<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConnectionStringServerSQL" connectionString="data source=sqlserver;Initial Catalog=BD;User Id=user;Password=password" />
		<add name="ConnectionStringPostgressSQL" connectionString="Host=localhost;Port=5432;Database=COFFEE_SHOP;Username=postgres;Password=@2o!&amp;69" />
	</connectionStrings>
</configuration>